html {
  background-image: -moz-linear-gradient(black, grey);
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 1000px;
  background-color: rgb(121, 115, 124);
}

p {
  font-size: medium;
}
h1 {
  text-align: center;
  font-size: 62px;
  text-decoration: none;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 a {
  text-decoration: none;
  /* color: gray; */
  /* line-height: 1.1; */
}

img {
  margin: auto;
  display: block;
}

#link {
  text-align: center;
}

#haha {
  width: 25%;
  margin: auto;
}
